@import url('https://fonts.googleapis.com/css?family=Calibri');

h1, h4, h5,p{
    font-family:'Calibri', serif;
}

h1, h4{
    color: rgb(31, 141, 187);
}

h5{
    color: rgb(96, 99, 99);
}

body { 
    background: rgb(250, 250, 250) url("https://media.gcflearnfree.org/content/55e0730c7dd48174331f5164_01_17_2014/whatisacomputer_pc.jpg") no-repeat fixed center; 
  }