@import url('https://fonts.googleapis.com/css?family=Calibri');

/*this section sets the font to calibri*/

* {
    font-family:'calibri', serif;
}

/*setting font colors and background*/

h1, h4 {
    color: rgb(31, 141, 187);
}

h5{
    color: rgb(96, 99, 99);
}

body { 
    background: rgb(250, 250, 250);  
  }

  .role-fonts {
    font-style: italic;
  }


  /*margins for top, left, and right sides*/


.margin-boarder {
    margin-top: auto;
    margin-left: 85px;
    margin-right: 85px;
    padding-right:  150px;
    padding-left: 150px;
    padding-bottom: 50px;
}