.container {
    border: 5px solid #ffcc5c;
    height: 50px;
    display: flex;
}

.container > .item {
    border: 1px dotted #ffc0cb;
    background-color: #f0ffff;
    border-right: 1px solid #6495ed;
    width: 400px;
    flex: initial;
}

.itemfont {
    text-align: center;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}